h1,h2,h3,h4,ul,li{
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}
body{
  color: #666;
}
header{
  text-align: center;
}
img{
  max-width: 100%;
}
.conteiner{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
.logo{
  width: 400px;
  margin: 30px auto;
}

nav ul li{
  display: inline;
}
nav{
  text-align: center;
  margin-bottom: 30px;
}
nav li a{
  text-decoration: none;
  padding: 15px 30px;
  color: #666;
}
nav ul li a:hover{
  color: #d08047;
  border-bottom: 4px solid #d08047;
}
h2{
  background: #d08047;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  margin:40px 20px;
  font-size:18px;
}
section{
  display: block;
}
.photo{
  display: block;
  margin:20px 20px;

}
.photo img{
  width:20%;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right:20px;

}
h4{
  color: #d08047;


}

h4 p{
display: block;

}

footer{
  text-align: center;
  font-size: 13px;
}
.footer-under{
  font-size: 12px;
}
footer a{
  text-decoration: none;
  color: #666;
}
footer a:hover{
  color: #d08047;
}
